@tailwind base;
@tailwind components;
@tailwind utilities;


.active-song {
  background-color: #82d385bd; /* Example of a green background for active song */
 
  transition: background-color 0.2s; /* Smooth transition for background, text, and border */
}


/* In global.css or the relevant CSS module */
.player-expanded {
  height: 100vh;
}

.player-collapsed {
  height: 100px; /* Adjust based on your design */
}

.player-dragging {
  transition: none;
}

